body {
  width: 960px;
}

#noaa {
  float: left;
  width: 50px;
}
#right {
  float: right;
  width: 130px;
}
#nws {
  width: 575px;
}
nav ul li {
  float: left;
  padding: 10px;
  list-style-type: none;
}
nav {
  background-color: #D3D3D3;
  height: 50px;
}
#submit {
  clear: both;
}
.small_bold {
  font-weight: bold;
  list-style: none;
}
.blue_underline_small {
  color: blue;
  text-decoration: underline;
  list-style: none;
}
#text {
  width: 650px;
  float: right;
}
#local_searchbar {
  float:left;
}
.clearfix {
  clear: both;
}
